---
import BaseLayout from '@/layouts/BaseLayout.astro'

const pageTitle = 'About'
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="font-mono">We are heroes! We fight for Gotham! We are BatBam!!!!</h2>
</BaseLayout>
