---
import Navigation from './Navigation.astro'
---

<header>
  <div class="content mx-auto max-w-full pt-2 text-center sm:pt-7">
    <p class="font-display text-xl text-emerald-500 sm:text-5xl md:text-7xl">Dogs of Anarchy</p>
  </div>
  <Navigation />
</header>
