---
import Social from './Social.astro'
---

<footer class="py-6 text-center lg:py-12">
  <div class="text-sm">
    &copy;<script type="text/javascript">
      document.write(new Date().getFullYear())
    </script> DOA
  </div>
  <Social />
</footer>
