---
import '@/styles/base.css'

import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'

const { title } = Astro.props
---

<html lang="en">
  <Head title={title} />
  <body>
    <div class="bg-zinc-50">
      <Header />
      <slot />
    </div>
  </body>
</html>
